.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #12121a;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container1 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-text {
  font-size: 4rem;
  max-width: 450px;
}
.home-text1 {
  color: var(--dl-color-gray-white);
}
.home-text2 {
  color: var(--dl-color-primary-100);
}
.home-text3 {
  color: var(--dl-color-gray-white);
}
.home-text4 {
  font-size: 2rem;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text5 {
  color: var(--dl-color-gray-white);
}
.home-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-github {
  fill: #98e8cd;
  width: var(--dl-size-size-small);
  height: auto;
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-gitlab {
  fill: #98e8cd;
  width: var(--dl-size-size-small);
  height: auto;
  text-decoration: none;
}
.home-link2 {
  display: contents;
}
.home-linkedin {
  fill: #98e8cd;
  width: var(--dl-size-size-small);
  height: auto;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  text-decoration: none;
}
.home-link3 {
  display: contents;
}
.home-twitter {
  fill: #98e8cd;
  width: var(--dl-size-size-small);
  height: auto;
  text-decoration: none;
}
.home-link4 {
  display: contents;
}
.home-mail {
  fill: #98e8cd;
  width: var(--dl-size-size-small);
  height: auto;
  border-color: var(--dl-color-gray-black);
  text-decoration: none;
}
.home-link5 {
  display: contents;
}
.home-image {
  top: 48px;
  width: 100px;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-container1 {
    top: 300px;
    left: 0px;
    margin: auto;
    position: absolute;
    align-self: stretch;
    align-items: center;
    padding-right: 0px;
  }
  .home-text {
    height: auto;
    font-size: 4rem;
    max-width: 100%;
    align-self: flex-start;
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
  }
  .home-text1 {
    color: var(--dl-color-gray-white);
  }
  .home-text2 {
    color: var(--dl-color-primary-100);
  }
  .home-text3 {
    color: var(--dl-color-gray-white);
  }
  .home-text4 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-btn-group {
    width: 516px;
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-image {
    margin-bottom: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 614px) {
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container1 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-text {
    align-self: center;
    padding-left: 0px;
  }
  .home-text4 {
    align-self: flex-start;
  }
  .home-btn-group {
    width: 469px;
    height: 361px;
    flex-direction: column;
  }
  .home-image {
    top: var(--dl-space-space-oneandhalfunits);
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
